#container{
    position: absolute;
    margin:auto;
    width: 755px;
    height :987px;
   background-color: aqua;
}

#background{
    position:absolute;
    width:555px;
    height:987px;
    left:100px;
    right: 100px;
    background-color: rebeccapurple;
    background-image: url("../img/resized_background.png");
    
    
    
    
}

#hairback{
     position:absolute;
    width:555px;
    height:987px;
    
    
  
    
    
}

.hairback{
    position:absolute;
    width:555px;
    height:987px;
    background-image: url("../img/hairback.png");
    
}
#man{
    position:absolute;
    width:555px;
    height:987px;
    
    
    background-image: url("../img/body.png");
    
    
    
 
}

#shoes{
     position:absolute;
    width:555px;
    height:987px;
    
    
    
    
}

.shoe1{
     position:absolute;
    width:555px;
    height:987px;
    background-image: url(../img/shoe1.png);
    
    
    
    
}

.shoe2{
    position:absolute;
    width:555px;
    height:987px;
    background-image: url(../img/shoe2.png);
    
}

.shoe3{
    position:absolute;
    width:555px;
    height:987px;
    background-image: url(../img/shoe3.png);
}

#clothes{
    
     position:absolute;
    width:555px;
    height:987px;
    
    
    
    
}

.dress1{
    
    position:absolute;
    width:555px;
    height:987px;
    background-image: url(../img/dress1.png);
}

.dress2{
    
    position:absolute;
    width:555px;
    height:987px;
    background-image: url(../img/dress2.png);
}

.dress3{
    
    position:absolute;
    width:555px;
    height:987px;
    background-image: url(../img/dress3.png);
}


#hairfront{
     position:absolute;
    width:555px;
    height:987px;
    
    
    
    
    
}

.hairfront1{
    
    position:absolute;
    width:555px;
    height:987px;
    background-image: url(../img/hairfront1.png);
}

.hairfront2{
    
    position:absolute;
    width:555px;
    height:987px;
    background-image: url(../img/hairfront2.png);
}

.hairfront3{
    
    position:absolute;
    width:555px;
    height:987px;
    background-image: url(../img/hairfront3.png);
}

#nexthair{
    position:absolute;
    right:50px;
    top:150px;
}

.showHairButton{  
    position:absolute;
    right:50px;
    top:100px;
}

.hideHairButton{  
    position:absolute;
    display: none;
}

#nextdress{
    position:absolute;
    right:50px;
    top:400px;
}

.showDressButton{  
    position:absolute;
    right:50px;
    top:350px;
}

.hideDressButton{  
    position:absolute;
    display: none;
}

#nextshoe{
    position:absolute;
    right:50px;
    top:750px;
}

.showShoeButton{  
    position:absolute;
    right:50px;
    top:700px;
}

.hideShoeButton{  
    position:absolute;
    display: none;
}

#prevhair{
    position:absolute;
    left:50px;
    top:150px;
}

#prevdress{
    position:absolute;
    left:50px;
    top:400px;
}

#prevshoe{
    position:absolute;
    left:50px;
    top:750px;
}

/* HeroDetailComponent's private CSS styles */
label {
    color: #435960;
    font-weight: bold;
  }
  input {
    font-size: 1em;
    padding: .5rem;
  }
  button {
    margin-top: 20px;
    background-color: #eee;
    padding: 1rem;
    border-radius: 4px;
    font-size: 1rem;
  }
  button:hover {
    background-color: #cfd8dc;
  }
  button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
  }