<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<html>
   <head> 
       
    </head>
    <title> Dress Up Game</title>
<body>
    <div id="container">
    <div id="background">
    <div id="hairback"></div>    
    <div id="man"> </div>
    <div id="shoes"> </div>    
    <div id="clothes"> </div>
    <div id="hairfront"></div>
    </div>
        
        
        
        <input type="button" value="NEXT" id="nexthair" (click)="nexthair()">
        <input type="button" value="NEXT" id="nextdress"(click)="nextdress()">
        <input type="button" value="NEXT" id="nextshoe" (click)="nextshoe()">
    
    </div>
    
    
    </body>

</html>

<router-outlet></router-outlet>
