<html>
   <head> 
       
    </head>
    <title> Classcraft IGTI</title>
<body>

    <app-personagens></app-personagens>


    <div id="container">
    <div id="background">
    <div id="hairback"></div>    
    <div id="man"> </div>
    <div id="shoes"> </div>    
    <div id="clothes"> </div>
    <div id="hairfront"></div>
    </div>
        
        
        
        <input type="button" value="NEXT" id="nexthair" (click)="nexthair()">
        <input type="button" value="NEXT" id="nextdress"(click)="nextdress()">
        <input type="button" value="NEXT" id="nextshoe" (click)="nextshoe()">
    
    </div>
    
    
    </body>

</html>

<router-outlet></router-outlet>
